.intro{
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    margin-top: 50px;
    /* height: var(--ancho-pantalla); */
    height: 95vh;
    background: url('introduction1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0;
    font-family:  var(--font-mono);

}

.title{
    display: block;
    margin-left: 30px;
    color: white;
    width: 48%;
}

.title h1{
    font-size: 60px;
    margin: 40px 0px 20px 0px;
    /* text-shadow: 5px 5px 10px black; */
}

.title h3{
    font-size: 30px;
    /* text-shadow: 2px 2px 5px black; */
    color: white;

}

.image{
    width: 52%;
    margin-top: 170px;
}

/* .img{
    margin-right: 50px;
    margin-bottom: 50px;
} */


@media (max-width: 1025px) and (min-width: 768px){

    .intro{
        flex-direction: column;
    }

    .title{
        width: 80%;
        margin: 50px 20px;
    }

    .title h1{
        font-size: 70px;

    }
    .title h3{
        font-size: 40px;

    }

    .image{
        /* width: 80%; */
        text-align: right;
        height: auto;
        margin: 50px 0px;
    }
    .img{
        width: 100%;
        height: auto;
    }
  
}

@media (max-width: 500px){

    .intro{
        flex-direction: column;
        height: 90vh;

    }

    .title{
        width: 90%;
        margin: 20px;
        color: white;
        position: inherit;
    }

    .title h1{
        font-size: 40px;
    }

    .title h3{
        font-size: 25px;
    }
    
    .image{
        margin: auto;
        width: 90%;
        text-align: center;
    }

    .img{
        width: 100%;
        height: auto;
    }
 
    
}

@media (min-width: 1300px){
    .intro{
        /* flex-direction: column; */
        height: 95vh;
    }

    .title h1{
        font-size: 70px;
        margin: 40px 0px 20px 0px;
    }
    
    .title h3{
        font-size: 40px;
        color: white;
    
    }
    
    .image{
        width: 60%;
        margin-top: 250px;
        /* text-align: right; */
    }
    .img{
        width: 90%;
        min-height: 400px;
    }
}

/* @media (min-width: 391px) and(max-width: 420px){
    .intro{

        height: 100%;
        padding: 40px 0;
    }

    .title{
        display: block;
        margin: 20px;
        color: white;
        position: inherit;
        width: 100%;
    }

    .title h1{
        font-size: 50px;
    }

    .title h3{
        font-size: 30px;
        
    }

    .img{
        width: 100%;
        position: relative;
        bottom: 150px;
        margin: 20px 10px;
        height: auto;
    }

    .image{
        margin: auto ;
    }
} */