
.portfolio{
    display: block;
    /* margin: 50px 0; */
    padding: 70px 0px;
    color: black;
    /* height: 100vh; */
}

.title{
    color: var(--dark-color-rgb);
    margin: 10px 0;
}

.docs{
text-align: center;
}


/* .frame{
  height: 300%;
} */

@media(max-width: 1279px) and (min-width: 900px){

    .frame{
      width: 90%;
      height: 360px
    }
}
@media(max-width: 899px)and (min-width: 700px){

    .frame{
      width: 90%;
      height: 360px;
    }
}

@media(max-width: 500px){

    .frame{
      width: 90%;
      height: 220px;
    }
}

@media(min-width: 1281px){

  .frame{
    max-height: 600px;
    min-height: 450px;
  }
}
