.footer{
    width: 100%;
    /* height: 120px; */
    background-color: var(--dark-color-rgb);
    margin-top: 20px;
}

.container{
    display: flex;
    height: 70%;
}

.container section{
    margin: auto;
    display: block;
    text-align: center;
}

.container p{
    color: white;
}

.image{
    margin: 10px 40px;
}

.navbarIcon{
    font-size: 25px;
    margin: 0px 10px;
    color: rgb(236, 236, 236);
    position: relative;
    top: 5px;
}

.link{
    color: rgb(236, 236, 236);
    font-size: 15px;
}

.bottom{
    border-top: solid 1px white;
    margin: auto;
    width: 95%;
    height: 30%;
    position: relative;
    color: white;
    bottom: 0;
}

.bottom p{
    margin: 10px 0;
}

@media(max-width: 600px){

    .container{
        flex-direction: column;
    }
    .image{
        margin: 30px auto;
    }

    .bottom p{
        text-align: center;
    }
}
